:root {
    --click-button-background: linear-gradient(-30deg, #0b3d0b 50%, #082b08 50%);
    --click-button-color: #d4f7d4;
    --click-button-before-background-color: #85ad85;
    --button-animated-span-background: linear-gradient(to left, rgba(8, 43, 8, 0), #26d926);
}